* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

canvas {
	width: 1500px;
	height: 400px;
	display: block;
	margin: auto;
}

th {
	text-align: center;
}

table {
	margin: auto;
}

input {
	width: 2rem;
	margin: 1rem;
	text-align: center;
}

button {
	padding: .5rem;
	margin: .5rem;
}

#buttons {
	width: 4rem;
	margin: auto;
}